<form name="productForm" novalidate>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group has-feedback"
            [ngClass]="{'has-error': (!productName.valid && productName.touched), 'has-success': (productName.valid && productName.touched)}">
                <label for="productName">Product name</label>
                <input [formControl]="username" type="text" class="form-control" id="productName" placeholder="Product name" required>
                <span class="help-block error-block basic-block">Required</span>
            </div>
            <div class="form-group has-feedback"
            [ngClass]="{'has-error': (!productId.valid && productId.touched), 'has-success': (productId.valid && productId.touched)}">
                <label for="productId">Product Id</label>
                <input [formControl]="username" type="text" class="form-control" id="productId" placeholder="Product Id" required>
                <span class="help-block error-block basic-block">Required</span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="productName">Category</label>
                <select class="form-control" title="Category" selectpicker>
                    <option selected>Electronics</option>
                    <option>Toys</option>
                    <option>Accessories</option>
                </select>
            </div>
        </div>
    </div>
</form>