<div class="widgets">    
    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="Form Wizard" ba-panel-class="with-scroll">
                <ba-wizard>
                    <ba-wizard-step title="Personal info" form="personalForm">
                        <personal-form></personal-form>
                    </ba-wizard-step>
                    <ba-wizard-step title="Product Info" form="productForm">
                        <product-form></product-form>
                    </ba-wizard-step>
                    <ba-wizard-step title="Shipment"  form="shippingForm">
                        <shipping-form></shipping-form>
                    </ba-wizard-step>
                    <ba-wizard-step title="Finish">
                        <form class="form-horizontal" name="finishForm" novalidate>
                            Congratulations! You have successfully filled the form!
                        </form>
                    </ba-wizard-step>
                </ba-wizard>
            </div>
        </div>
    </div>
</div>