<form name="shippingForm" novalidate>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group has-feedback"
                [ngClass]="{'has-error': (!address.valid && address.touched), 'has-success': (address.valid && address.touched)}">
                <label for="address">Shipment address</label>
                <input [formControl]="address" type="text" class="form-control" id="address" placeholder="Shipment address" required>
                <span class="help-block error-block basic-block">Required</span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="productName">Shipment method</label>
                <select class="form-control" title="Category" selectpicker>
                    <option selected>Fast & expensive</option>
                    <option>Cheap & free</option>
                </select>
            </div>
        </div>
    </div>
    <div class="checkbox">
        <label class="custom-checkbox">
            <input type="checkbox">
            <span>Save shipment info</span>
        </label>
    </div>
</form>