<form [formGroup]="form" name="personalForm" novalidate>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group has-feedback" [ngClass]="{'has-error': (!username.valid && username.touched), 'has-success': (username.valid && username.touched)}">
                <label for="exampleUsername1">Username</label>
                <input [formControl]="username" type="text" class="form-control" id="exampleUsername1" placeholder="Username" required>
                <span class="help-block error-block basic-block">Required</span>
            </div>
            <div class="form-group" [ngClass]="{'has-error': (!email.valid && email.touched), 'has-success': (email.valid && email.touched)}">
                <label for="exampleInputEmail1">Email address</label>
                <input [formControl]="email" type="email" class="form-control" id="exampleInputEmail1"  placeholder="Email" required>
                <span class="help-block error-block basic-block">Proper email required</span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group" [ngClass]="{'has-error': (!password.valid && password.touched), 'has-success': (password.valid && password.touched)}">
                <label for="exampleInputPassword1">Password</label>
                <input [formControl]="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
                <span class="help-block error-block basic-block">Required</span>
            </div>
            <div class="form-group" [ngClass]="{'has-error': (!repeatPassword.valid && repeatPassword.touched), 'has-success': (repeatPassword.valid && repeatPassword.touched)}">
                <label for="exampleInputConfirmPassword1">Confirm Password</label>
                <input [formControl]="repeatPassword" type="password" class="form-control" id="exampleInputConfirmPassword1" placeholder="Confirm Password" required>
                <span *ngIf="!passwords.valid && (password.touched || repeatPassword.touched)" class="help-block error-block basic-block">Passwords should match</span>
            </div>
        </div>
    </div>
</form>